<!--
    So I think like a bulletin board of sentence-long ideas, where you can click on any of them and a slide down of the discussion will appear.

    Attributes:
        - Summary
        - Author
        - Date
        - Elaboration
        - Tagging?
        - Comments
            - time
            - author
            - text

    Notes:
        - Only one level of comments
 -->

{% extends "base.html" %}

{% block content %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/discussion.css' %}" />
    <div id="discussion">
        {% for year in year_list %}
            <p id="year">{{ year }}</p>
            {% for topic in all_topics %}
                {% if topic.created_at_utc.year == year %}
                    <div class="topic">
                        <div>
                            [{{ topic.created_at_utc|date:"m-d" }}]
                        </div>
                        <div>
                            <button class="summary-button" onclick='openElaboration({{ topic.id }})'>{{ topic.summary }} ({{ topic.author.username }})</button>
                            <div class="elaboration" id="{{ topic.id }}">
                                <p>-- Elaboration --</p>
                                <p>{{ topic.elaboration }}</p>
                                <form class="elaboration-comment" method="post" action="/discussion/create-comment"> {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}"></input>
                                    <textarea class="form-input" name="comment" placeholder="New comment" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' required></textarea>
                                    <button class="form-button elaboration-comment-submit">Submit</button>
                                </form>
                                <p>-- Comments --</p>
                                {% for comment in all_comments %}
                                    {% if comment.topic.id == topic.id %}
                                    <div class="topic_comment">
                                        <div class="comment-header"> {{ comment.author.username }} -- {{ comment.created_at_utc }} </div>
                                        <div class="comment-text">{{ comment.comment }} </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <form id="new-topic" method="post" action="/discussion/create-topic"> {% csrf_token %}
        <textarea class="form-input" name="summary" placeholder="Summary (250 characters max)" maxlength="250" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' required></textarea>
        <textarea class="form-input" name="elaboration" placeholder="Explain" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' required></textarea>
        <button class="form-button">Submit</button>
    </form>
{% endblock content %}
