/* General Settings */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

a:active, button:active {
  background: #aaaaaa;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

textarea {
  resize: none;
}

body {
  background: #f1f1f1;
  transition: 0.5s;
}

ul {
  margin: 0;
  padding: 0;
}

/* Top Navigation */

#top-navigation {
  /* position: fixed; */
  display: flex;
  width: 100%;
  /* top: 0; */
  /* left: 0; */
  font-size: 4vw;
}

#top-navigation-left, #top-navigation-right {
  list-style: none;
}

#top-navigation-left {
  width: 70%;
}

#top-navigation-right {
  width: 30%;
}

#top-navigation-right {
  text-align: right;
  padding-right: 3vw;
}

.top-item {
  display: inline-block;
  height: 100%;
}

.top-item a {
  padding: 5vw 2vw 1vw 2vw;
}

#side-navigation-toggle-button {
  padding: 1vw;
  margin: 0 0 0 5vw;
}

/* Side Navigation */

#nav-current-page {
  border-bottom: 1px solid black;
}

#side-navigation {
  position: fixed;
  height: 100%;
  width: 60vw;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translate(-70vw, 0px);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 5vw;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

#side-user-group {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 5vw;
  padding-left: 8vw;
}

.side-item {
  display: block;
}

.side-item a {
  padding: 5vw 8vw
}

/* Site Title */
#site-title {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  margin-top: 10vw;
}

.site-title-item {
  margin: 0 2vw;
}

/* Content */

#content {
  padding: 10vw 8vw;
  text-align: center;
  font-size: 5vw;
}
