/* General Settings */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

textarea {
  resize: none;
}

body {
  background: #f1f1f1;
  transition: 0.5s;
}

ul {
  margin: 0;
  padding: 0;
}

#content {
  padding: 22vw 8vw;
  text-align: center;
  font-size: 5vw;
}

#top-navigation {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 4vw;
}

#top-navigation-left {
  list-style: none;
  width: 50%;
}

.top-item {
  display: inline-block;
  height: 100%;
}

.top-item a, i {
  padding: 5vw 2vw 1vw 2vw;
}

#side-navigation-toggle {
  padding-left: 5vw;
  padding-right: 3vw;
}

#nav-current-page {
  border-bottom: 1px solid black;
}

#side-navigation {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 5vw;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

#side-navigation-top {
  padding: 5vw;
}

.side-item {
  display: block;
}

.side-item a {
  padding: 5vw;
}

.side-item a:after {
  color: black;
}

